.container{
    padding: 0 1%;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.box{
    z-index: 1;
    width: 80%;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    margin: 3%;
}

.shopView{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 40%;
    height: 60vh;
}

.shopView>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

  
.map {
    /* flex: 33%; */
    /* height: 60vh; */
    width: 100%;
/*     background-image: url("/Contact.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    flex: 40%;
    height: 60vh;

}

.contactDetails{
    width: 50%;
    /* flex: 50%; */
    padding: 5%;
    text-align: left;
    padding: 20px;
    font-size: 1rem;
    color: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.contactDetails>h1{
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: left;
    font-size: 1rem;
    color: var(--red);
  }
  
  .contactDetails>h1:after{
    content: '';
    position: absolute;
    left: 25px;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: var(--red);
  }

  .field{
    width: 90%;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0);
    background-color: rgba(230,230,230, 0.6);
    margin-bottom: 5px;
    transition: .3s;
    font-family: var(--mono-font);
    font-size: calc(100vw/120);
  }

  .field:hover{
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .field:focus{
    background-color: #fff;
    border: 2px solid rgba(30, 85, 250, 0.47);
  }

  .area{
    min-height: 100px;
  }

  .btn{
    width: 90%;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    background-color: var(--red);
    color: #fff;
    cursor: pointer;
    outline: none;
    border: none;
  }
  
  .btn:hover{
    background-color: #9b171e;
  }

  @media (max-width: 992px) {
    .container{
        padding: 0px;
        background-color: var(--white);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .box{
      width: 100%;
      padding: 0px;
      margin: 0px;
      flex-wrap: wrap;
    }

    .shopView{
        flex: 100%;
        height: 33vh;
    }
    
    .map {
        flex: 100%;
        height: 33vh;
    }

    .contactDetails{
        flex: 100%;
    }

    .field{
      /* font-size: calc(100vw/35); */
    }
  }