.container{
    width: 100%!important;
    display:flex;
    -webkit-flex-direction:row;
    flex-direction:row;
    -webkit-justify-content:center;
    justify-content:center;
    padding-bottom: 5% ;
}
.wrap{
    width: 95%;
    display:flex;
    flex-wrap: wrap;
}
.title{
    flex: 100%;

    display:flex;
    -webkit-flex-direction:row;
    flex-direction:row;
    -webkit-justify-content:center;
    justify-content:center;

    border-bottom: 1px solid var(--grey-light);

    text-transform: uppercase;
    font-family: var(--mono-font);
    font-weight: 700;
    font-size: calc(100vh/25);
    color: var(--red);
    padding-top: 2%;
}

.text{
    flex: 50%;
    color: var(--black);
    text-transform: none;
    text-align: left;
    padding: 20px!important;
    font-size: calc(100vw/90);
}
.img{
    flex: 50%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    vertical-align: middle!important;
}
.column>img{
    box-shadow: 10px 5px 10px 5px var(--grey-light);
    margin-top: 8px!important;
    width: 95%;
    vertical-align: middle!important;
    /* height: 100%; */
}

.column {
    flex: 50%;
    max-width: 50%;
    /* height: 100%; */
  }

.mobile{
    display: none;    

}
.mobile_container{
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    padding: 10px;
    padding-left: 20px;
    width: 100%;
    margin-bottom: 50px;
}

.mobile_item {
    text-align: center;
    /* padding: 20px 0; */
    font-size: 30px;
    height: calc((100vw / 2) - 30px);
    justify-content: center;
    align-items: center;
  }
  .mobile_item_text{
    grid-column: 1 / span 2;
  }
  .mobile_item>p{
    color: var(--black);
    text-transform: none;
    text-align: left;
    font-size: calc(100vw/40);
    padding: 20px;
  }
  .mobile_item>img{
    box-shadow: 10px 2px 20px 1px var(--grey-light);
    margin: 0px!important;
    padding: 0!important;
    height: 100%!important;
    justify-content: center;
    align-items: center;
  }

@media (max-width: 992px) {
    .mobile_item>p{
        font-size: calc(100vw/30);
        padding: 10px;
      }

    .title{
        font-size: calc(100vh/30);
        color: var(--red);
        font-weight: 700;
        text-align: center;
    }
    
    .mobile{
        display: block;    
    }

    .wrap{
        display: none;
    }

}