@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Tangerine:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
  /* Size */
  --height-header: 60px;
  --height-footer: 60px;

  /* Fonts */
  --mono-font: 'Poppins', Arial, sans-serif;
  --hand-font: 'Tangerine', Times, serif;

  /* Colors */
  --red: #BC1C24;
  --white: #FEFEF2;
  --black: #212427;
  --grey-light:#aaa;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
  background-color: var(--white);
}


