@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-template-rows: 60px 1fr;
  grid-template-areas:
    "topbar topbar"
    "sidebar main"
  ;
}

.topbar{
  grid-area: topbar;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.sidebar{
  
  grid-area: sidebar;
}

.main{
  background-color: #848485;
  grid-area: main;
  overflow: hidden;
  overflow-y: scroll;
}

.navbar{
  display: none;
}

.mainContent{
  margin-top: 0px;
}

@media screen and (max-width: 992px) {
.navbar{
  display: block;
}
  body {   
      grid-template-areas:
        "main main"
        "main main"
      ;
    }

.mainContent{
      margin-top: 70px;
  }
}
