.carousel{
    border-radius: 0px!important;
    width: 95%!important;
    box-shadow: 10px 5px 10px 5px var(--grey-light);
}

.carousel-root{
    display:-webkit-flex;
    display:-moz-flex;
    display:-ms-flex;
    display:flex;
    -webkit-flex-direction:row;
    flex-direction:row;
    -webkit-justify-content:center;
    justify-content:center;
    margin-top: 2.5%!important;
    margin-bottom: 2.5%!important;
    
}

.Horizontal{
    display: block;
}
.Vertical{
    display: none;
}

@media (max-width: 992px) {
    .Horizontal{
        display: none;
    }
    .Vertical{
        display: block;
    }
  }