.cards-body{
    width: 100%;
    text-align: center;
    height: 100%;
    background-color: #F2F2EC;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 20px;
}
.mg-rating{
    display: flex;
    flex-direction: row;
}
.cards-body>p{
    font-size: calc(100vh/70);
    text-align: justify;
    padding-bottom: 10px;
}

.cards-body>h1{
    color: #BC1C24;
    padding-bottom: 20px;
    text-align: justify;
    padding-top: 10px;
}
