.cards-body{
    width: 70%;
    text-align: center;
    height: 100%;
    background-color: white;
    border-radius: 10px;
}

.cards-body>p{
    font-size: calc(100vh/90);
    padding: 10%;
}

.cards-body>h1{
    color: #BC1C24;
    padding-bottom: 20px;
}

@media screen and (max-width: 992px) {
    .cards-body>p{
        font-size: calc(100vh/70);
        padding: 5%;
    }
  }