.container{
    width: 100%!important;
    display:flex;
    -webkit-flex-direction:row;
    flex-direction:row;
    -webkit-justify-content:center;
    justify-content:center;
}
.wrap{
    width: 95%;
    display:flex;
    flex-wrap: wrap;
}
.title{
    flex: 100%;

    display:flex;
    -webkit-flex-direction:row;
    flex-direction:row;
    -webkit-justify-content:center;
    justify-content:center;

    border-bottom: 1px solid var(--grey-light);

    text-transform: uppercase;
    font-family: var(--mono-font);
    font-weight: 700;
    font-size: calc(100vh/25);
    color: var(--red);
}

.text{
    flex: 50%;
    color: var(--black);
    text-transform: none;
    text-align: left;
    padding: 20px!important;
    font-size: calc(100vw/100);
}
.img{
    flex: 50%;
    width: 90%;
    padding: 2%!important;
}
.img>img{
    width: 100%;
    height: auto;
    box-shadow: 10px 5px 10px 5px var(--grey-light);
}

/* Oreders */
.text1{order: 1;}
.img1{order: 2;}
.img2{order: 3;}
.text2{order: 4;}


@media (max-width: 992px) {

    .title{
        font-size: calc(100vh/25);
        color: var(--red);
        font-weight: 700;
    }
    .text{
        flex: 100%;
        text-align: left;
        font-size: .8rem;
        line-height: 1.8rem;
    }
    .img{
        flex: 100%;
    }

    /* Oreders */
    .text1{order: 1;}
    .img1{order: 2;}
    .text2{order: 3;}
    .img2{order: 4;
    margin-bottom: 20px;
    }    
}