.parallax{
    background-image: url("/Vanila flavour gelato .jpg");

    /* min-height: 500px;  */
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.flavoursMenu-container{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    background-color: #fffef1; 
    padding: 10px;
    padding-bottom: 30px;
}
.flavoursMenu-title{
    grid-column: 1 / 4;  
    text-align: center;
    text-transform: uppercase;
}
.flavoursMenu-title>h1{
    font-weight: 700;
    font-size: calc(100vh/20);
    color: #BC1C24;
}
.flavoursMenu-item{
    background-color: transparent;
    padding: 10px;

    display:-webkit-flex;
    display:-moz-flex;
    display:-ms-flex;
    display:flex;
    -webkit-flex-direction:row;
    flex-direction:row;
    -webkit-justify-content:center;
    justify-content:center;
}
.flavoursMenu-item>img{
    width: 70%;
    height: 100%;
}

@media (max-width: 992px) {
    .flavoursMenu-item {
        grid-column: 1 / 4; 
    }
    .flavoursMenu-title>h1{
        font-size: calc(100vh/10);
        color: #BC1C24;
        font-weight: 700;
    }
  }