
.flavours-box{
    z-index: 1;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 40px;
    padding: 40px!important;
    margin-bottom: 0px!important;
    min-height: 100vh;

    background-image: url("/Blackboard.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.flavoursMenu-title{
    grid-column: 1 / 4;  
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
    width: 100%;
    /* border-bottom: 1px solid var(--grey-light); */
}
.flavoursMenu-title>h1{
    font-weight: 700;
    font-size: calc(100vh/25);
    color: var(--white);
}
.flavoursMenu-item{
    background-color: transparent;
    padding: 10px;

    display:-webkit-flex;
    display:-moz-flex;
    display:-ms-flex;
    display:flex;
    -webkit-flex-direction:row;
    flex-direction:row;
    -webkit-justify-content:center;
    justify-content:center;
}
.flavoursMenu-item>img{
    width: 100%;
    height: 100%;
    box-shadow: 5px 5px 5px 0px var(--grey-light);
}

@media (max-width: 992px) {

    .flavours-box{   
        background-image: url("/BlackboardMobile.jpg");
    }

    .flavoursMenu-item {
        grid-column: 1 / 4; 
        padding: 0 10%!important;
    }
    .flavoursMenu-title>h1{
        font-size: calc(100vh/25);
        font-weight: 700;
    }
  }