.container-faq{
    background-color: #fffef1;
    height: 100vh;
}

.faq-title{
    font-size: calc(100vh/20);
    font-weight: 700;
    text-transform: uppercase;
    color: #BC1C24;
}

.faq-subtitle{
    font-size: calc(100vh/60);
    font-weight: 200;
    text-transform: uppercase;
}

@media screen and (max-width: 992px) {
    .faq-title{
        font-size: calc(100vh/15);
    }
    .faq-subtitle{
        font-size: calc(100vh/40);
    }
  }